.showNft {
  width: 30%;
}

.showNft img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  cursor: pointer;
}

.imgCheckbox {
  display: none;
}

.imgCheckbox + label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  text-align: center;
  transition-duration: 0.4s;
  transform: scale(0);
}

.imgCheckbox:checked + label::before {
  content: "✓";
  background-color: green;
  transform: scale(0.9);
  position: absolute;
  width: 20px;
  z-index: 1;
}

.imgCheckbox:checked + label img {
  transform: scale(0.92);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}
